[submodule "ConsoleMVC/Common"]
	path = ConsoleMVC/Common
	url = https://github.com/l1nkh/Projeto3_LP2_2020.git
	branch = common
[submodule "UnityMVC/Assets/Scripts/Common"]
	path = UnityMVC/Assets/Scripts/Common
	url = https://github.com/l1nkh/Projeto3_LP2_2020.git
	branch = common
